<button style="font-size: 14px;
    padding: 10px;
    border: 0;
    cursor: @(!Disabled ? "pointer" : "not-allowed");
    border-radius: 1em;
    display: inline-block;
    color: #fff;
    background-color: @(!Disabled ? Color : "grey");" disabled="@(Disabled)" @onclick="ButtonClick">
    <span>@Text</span>
</button>

@code {

    /// <summary>
    /// Set a text that is button caption.
    /// </summary>
    [Parameter, EditorRequired]
    public string? Text { get; set; }

    /// <summary>
    /// Set a color of the button.
    /// </summary>
    [Parameter]
    public string Color { get; set; } = "#007bff";
    
    /// <summary>
    /// Toggle button status.
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; }

    /// <summary>
    /// This is basic button component.
    /// </summary>
    public Button() { }

    private void ButtonClick()
    {
        Text = "You clicked the button!";
    }
}