@attribute [Stories("Pages/Table")]
t

<Stories TComponent="Table">
    <Story Name="Default">

        <Template>
            <Table @attributes="context.Args">
            </Table>
        </Template>
    </Story>


</Stories>