<BlazingStoryApp Assemblies="new[] { typeof(App).Assembly }"
                 DefaultLayout="typeof(DefaultLayout)">
        <BrandLogoArea>
            <div style="font-family:'Comic Sans MS',fantasy;">
                @context.Title
            </div>
        </BrandLogoArea>
</BlazingStoryApp>