@* @using Microsoft.AspNetCore.Components.Authorization *@
@* @using Microsoft.AspNetCore.Components.WebAssembly.Authentication *@

<nav class="navbar text-color-light bg-color-dark shadow-lg ps-2 pe-2">
    <div class="container-fluid">
        <span class="navbar-brand text-uppercase fw-light"
              aria-label="Name of brand">
            Name of  Brand
        </span>
        <AuthorizeView>
            <Authorized>
                <RoleSelectorControl />
                @* <LogOut Initials="@context.User.Identity?.Name.Substring(0, 2)" /> *@
            </Authorized>
            <NotAuthorized>
                <LogIn />
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>     

@code {
    
    
    
}